<h1>Edit Customer</h1>

<hr />
<div class="row">
  <div class="col-md-4">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <app-customertemplate formControlName="cmnCustomerFields"></app-customertemplate>
      <div class="form-group">
        <div class="text-center">
          <button class="btn btn-primary mr-1" [disabled]="!editForm.valid">Edit Customer</button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        </div>

      </div>
    </form>
  </div>
</div>

<p>
  Form is {{editForm.valid ? 'Valid' : 'Invalid'}}
</p>
<pre>
{{editForm.value | json}}
</pre>
