<h1>Create</h1>

<h4>Customers</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <app-customertemplate formControlName="cmnCustomerFields"></app-customertemplate>
      <div class="form-group">
        <div class="text-center">
          <button class="btn btn-primary mr-1">Create</button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        </div>

      </div>
    </form>
  </div>
</div>

<p>
  Form is {{registerForm.valid ? 'Valid' : 'Invalid'}}
</p>
<pre>
{{registerForm.value | json}}
</pre>



