<p>
  Customers List
</p>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Telephone
        </th>
        <th>
          Email
        </th>
        <th>
          Profile Picture
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!--{{ lstCustomers | json }}-->
      <tr *ngFor="let customer of lstCustomers">
        <td>
          {{customer?.name}}
        </td>
        <td>
          {{customer?.telephone}}
        </td>
        <td>
          {{customer?.email}}
        </td>
        <td>
          <img [src]="GetProfileImgPath(customer?.profilePic)" alt="No Picture Found" style="width:60px; height:60px;">
        </td>
        <td>
          <a [routerLink]="'/editcustomer/'+customer.cid">  <span class='glyphicon glyphicon-pencil'></span></a>
        </td>
        <td>
          <a [routerLink]="'/deletecustomer/'+customer.cid">  <span class='glyphicon glyphicon-remove'></span></a>
        </td>
      </tr>

    </tbody>
  </table>

</div>
<ng-template #no_data_templ>
  <div class="grid-container grid-container-hdr">
    <div>Name</div>
    <div>Telephone</div>
    <div>Email</div>
    <div class="name-date">CustomerID</div>
  </div>
  No data found...
</ng-template>


